.tudo{
    background-color: white;
    border-radius: 10px;
}
.titulo{
    background: linear-gradient(#2b200dc8, rgb(27, 19, 4));
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    padding: 10px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.limite{
    display: flex;
    justify-content: end;

    padding-top: 5px;
    padding-right: 7px;
}
.textbox{
    width: 320px;
    height: 70px;
    padding: 5px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}