.BoxFormasdePagamento  {  
    display: flex;
    color: white;
    padding: 20px;
    
}
.borda{
    box-shadow: 0px 1.28374px 3.20934px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.776);
    border-radius: 20px;
    padding-bottom: 15px;
}
.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 9;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BoxFormasdePagamento h1 {
    font-size: 17.36px;
}
.Box h1 {
    font-size: 17.36px;
}
.cpf {
    align-items: center;
}
.BoxDocumento {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
}


.botao {
    color: red;
    border: 0;
    background-color: transparent;
}

.Box h3 {
    font-size: 9.92px;
    opacity: 0.5;
}

.BoxFormasdePagamento h3 {
    font-size: 9.92px;
    opacity: 0.5;
}

.botaofinalizar {
    background-color: red;
    color: white;
    width: 250px;
    height: 50px;  
    margin-top: 40px;
    
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

.row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxCPF {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    font-size: 13.98px;
    text-align: left;
    font-size: 12.5px;
}

.boxCPF h3 {
    opacity: 0.5;
}

hgroup {
    display: flex;
    flex-direction: column;
}

.boatoalterar {
    display: flex;
    flex-direction: column;
}