.botaoCarrinho{
    background-image: url('../../../Aseets/icons8-shopping-cart-24.png');
    background-repeat: no-repeat;
    

    display: flex;
    width: 24px;
    height: 24px;
    padding: 15px;
    
}