

.Adicional {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerda {
    padding: 5px;
    margin-right: 150px;
}

.border1 {
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    border-radius: 7%;
    width: 330px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 80%;
    background: linear-gradient(#b67505c8, rgb(27, 19, 4));
}

.border2 {
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    border-radius: 7%;
    width: 330px;
    height: 210px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 80%;
    background: linear-gradient(#b67505c8, rgb(27, 19, 4));
}

.border3 {
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    border-radius: 7%;
    width: 330px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 80%;
    background: linear-gradient(#b67505c8, rgb(27, 19, 4));
}