

.Adicional {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerda {
    padding: 5px;
    margin-right: 150px;
}

.border {
    background-color: rgb(224, 224, 110);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 7%;
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}