.Adicional {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    
    
    letter-spacing: 1px;

    width: 500px;
    border: 1px solid grey;
}