.borda {
    background: linear-gradient(#43341bc8, rgb(27, 19, 4));
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    width: 350px;
    opacity: 80%;
    
    border-radius: 7%;
    margin-bottom: 15px;
}
.titulo{
    padding: 15px;
    margin-bottom: 0;
}
.conteudo{
    padding: 18px;
    text-align: left;
}