.BoxFormasdePagamento  {
    background-color: black;
    opacity: 0.5;
    color: white;
    border-radius: 20px;
    padding: 20px;
    padding-left: 19.98px;
    box-shadow: 0px 1.28374px 3.20934px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    
}

.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 9;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.BoxFormasdePagamento h1 {
    font-size: 17.36px;
}

.Box h1 {
    font-size: 17.36px;
}

.cpf {
    align-items: center;
}

.BoxDocumento {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
    align-items: center;
    justify-items: center;
}


.botao {
    color: red;
    border: 0;
    background-color: transparent;
}

.Box h3 {
    font-size: 9.92px;
    opacity: 0.5;
}

.BoxFormasdePagamento h3 {
    font-size: 9.92px;
    opacity: 0.5;
}

.botaofinalizar {
    background: #E31726;
    border-radius: 19.977px;
    color: white;
    border: 0;
    flex-grow: 8;
}