.iconback{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 50px;
}
.card{
    display: flex;
    background: linear-gradient(#43341bc8, rgb(27, 19, 4));
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    width: 360px;
    height: 172px;
    padding-top: 10px;

    border-radius: 7%;
    margin-bottom: 15px;
}
.FotoPorcoes {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 170px;
    height: 160px;
    border-radius: 10px;
}
.nomepreco {
    color: rgba(242, 240, 240, 0.886);
    margin-left: 30px;
    padding-right: 13px;
}