.texttopo {
    color: white;
    margin-top: 10px;
}
.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 85px;
}
.iconback {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 70px;
}
.pedidos{
    margin-bottom: 50px;
}
.cardpedido{
    display: flex;
    flex-direction: row;
    background: linear-gradient(#43341bc8, rgb(27, 19, 4));
    background-color: rgba(0, 0, 0, 0.776);
    color: white;
    width: 350px;
    height: 140px;
    padding-top: 10px;

    border-radius: 7%;
    margin-bottom: 15px;
}
.titulo{
    width: 130px;
}
.FotoLanche{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 130px;
    height: 130px;
    border-radius: 10px;
}
.nomepreco{
    margin-left: 20px;
}
.delete{
    display: flex;
    padding-left: 20px;
    color: white;
}
.delete :hover{
    color: red;
}
.botao {
    background-color: red;
    color: white;
    width: 250px;
    margin-top: 40px;
    border-radius: 13px;
    padding: 1em;
}