.card {
position: absolute;
width: 405.46px;
height: 189.71px;
left: 19.84px;
top: 81.84px;
background: rgba(0, 0, 0, 0.5);
box-shadow: 0px 1.66815px 8.34077px rgba(0, 0, 0, 0.5);
border-radius: 24.7991px;
}