.imagemdefundo{
    background-image: url('../../../Aseets/backgroundConfirmarPedido.png');
    background-attachment: fixed;
}
.iconback {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 50px;
}
.card{
    display: flex;
    flex-direction: row;
    background: linear-gradient(#43341bc8, rgb(27, 19, 4));
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    width: 350px;
    height: 150px;
    padding-top: 10px;

    border-radius: 7%;
    margin-bottom: 15px;
}
.FotoBebida {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 150px;
    height: 140px;
    border-radius: 10px;
}
.nomepreco {
    color: rgba(242, 240, 240, 0.886);
    margin-left: 30px;
    flex-direction: column;
    text-align: left;
}
.botaofinaltela{
    padding-left: 75px;
}
.spinner{
    padding-top: 3px;
    padding-left: 100px;
}