.boxcupons {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 5px;

    


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.776);
    color: white;

    font-family: Amiko;
}

.boxcupons header {
    flex-grow: 1;

    background-image: url('./imagens/icone.png');
    background-repeat: no-repeat;
    background-position: top left;

    padding-left: 40px;

    display: flex;
}

.boxcupons .titulos {
    flex-grow: 1;
}

.boxcupons .titulos h1 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.boxcupons .titulos h2 {
    font-size: 8px;
    font-weight: 400;
    opacity: 0.5;
    margin: 0;
    text-align: left;
}

.botao {
    color: red;
    border: 0;
    background-color: transparent;
}

.cupons {
    width: 100%;
}

.h5 {
    opacity: 0.5;
}

.boxPix {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.boxPix h3 {
    text-align: left;
    font-size: 14px;
}

.boxPix h5 {
    
    font-size: 11px;
    text-align: left;
}