.modal {
    position: fixed;
    
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #000;
    transition: top 1s ease-in-out;


    display: flex;
    flex-direction: column;
}

.modal,
.modal.aberto {
    top: 50px;
}

.modal.fechado {
    top: 100vh;
}

.conteudo {
    height: 100px;
    flex-grow: 1;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    padding: 30px;
}

.btFechar{
    display: flex;
    
}