.tela{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
}

.imagem{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}