.tela{
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
}

.conteudo{
    padding: 30px;
    background-image: url('../../Aseets/backgroundConfirmarPedido.png');
    background-attachment: fixed;
}

