.borda{
    display: flex;
    background: linear-gradient(#43341bc8, rgb(27, 19, 4));
    background-color: rgba(34, 33, 33, 0.551);
    opacity: 90%;
    margin-bottom: 15px;
    padding: 10px;
}
.navegacao  nav{
    display: flex;
    flex-direction:row;
 }
 .navegacao a {
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
 }
