.fundo{
    background: linear-gradient(#211704d8, rgb(27, 19, 4));
    background-color: rgba(34, 33, 33, 0.551);
    color: white;
    border-radius: 5%;
    padding: 3px;
    margin-bottom: 18px;
}
.card{
    display: flex;
    flex-direction: row;
}
.foto{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
    width: 130px;
    height: 120px;
    border-radius: 10px;
}
.titulo{
    padding-left: 5px;
}
.nomepreco {
    padding-left: 10px;
}